<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>users ทั้งหมด</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searching()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-thumbnail slot="start">
        <img *ngIf="user.image!=''" src="{{session.api}}fileupload/user/{{ user.image }}">
        <img *ngIf="user.image==''" src="assets/images/user.png">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ user.user_name }} {{ user.user_lname }}</h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button slot="icon-only" color="warning" (click)="edit(user)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" color="danger" (click)="del(user)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>