<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>เข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">ชื่อผู้ใช้งาน</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">รหัสผ่าน</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-button class="btn-login" color="primary" (click)="login()">เข้าสู่ระบบ</ion-button>
  <ion-button class="btn-clear" color="light" (click)="clear()">ล้าง</ion-button>
</ion-content>