<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>เข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">ชื่อผู้ใช้งาน</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">รหัสผ่าน</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-grid class="no-padding ion-margin-top">
    <ion-row>
      <ion-col class="no-padding padding-right">
        <ion-button class="btn-login" expand="block" color="primary" (click)="login()">เข้าสู่ระบบ
        </ion-button>
      </ion-col>
      <ion-col class="no-padding padding-left">
        <ion-button class="btn-clear" expand="block" color="light" (click)="clear()">ล้าง</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn-register ion-margin-top" expand="block" color="dark" (click)="register()">ลงทะเบียน
  </ion-button>
</ion-content>